.u-margin-bottom-small {
    margin-bottom: 2rem;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem;
}
.u-margin-bottom-big {
    margin-bottom: 6rem;
}

$bp-largest: 100em;
$bp-large: 75em;
$bp-medium: 53.125em;
$bp-smallest: 31.25em;