@import "../../../../../Global/utilities.scss";

.forecast-card {
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(to right, rgb(46, 184, 248), rgb(24, 142, 238));
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(#000, .2);
    transition: all .2s;
    padding: 1rem;
    transform: translateY(10rem);

    @media only screen and (max-width: $bp-smallest) {
        width: 80%;
        background-color: #fff;
        background-image: initial;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

 

    &__day {
        @media only screen and (max-width: $bp-smallest) {
            color: blue;
        }
        
        font-size: 2.5rem;
        color: #fff;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__phrase {
        @media only screen and (max-width: $bp-smallest) {
            color: blue;
        }
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
        margin-bottom: 2rem;
        
    }

    &__temp {
        @media only screen and (max-width: $bp-smallest) {
            color: blue;
        }
        font-size: 2rem;
        color: #fff;
        font-weight: 500;
    }

    &__icon {
        @media only screen and (max-width: $bp-smallest) {
            fill: blue;
        }
        fill: #fff;
        margin-bottom: 3rem;
    }


    &:hover {
        transform: translateY(-4px) scale(1.03);
    }
}

