@import "../../../Global/utilities.scss";

.home-page {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    

    &__bp-medium {
        margin-bottom: 2rem;
     
        width: 60%;
        @media only screen and (min-width: $bp-medium) {
            display:none;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 100%;
        }
    }

    &__topic {

        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }

        opacity: 0;
        visibility: hidden;
        color: white;
        font-weight: 500;
        font-family: 'Playfair Display', serif;
        font-size: 3.25rem;
    }

}
.details {

    @media only screen and (max-width: $bp-smallest) {
        height: 50%;
    }


    position: relative;
    opacity: 0;
    visibility: hidden;
    width: 90%;
    height: 52rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(#000, .5);
    padding: 2rem;

    &__group {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;



        &-holder {
            position: relative;
            display: flex;
        }

        &-fav {
            @media only screen and (max-width: $bp-medium) {
               position: absolute;
               top: 8rem;
               left: -13.1rem;
              
            }
    
            transform: translateY(7px);
            font-size: 1.3rem;
            margin-left: 1rem;
            &-icon {
                fill: gold;
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        &-temp {
            font-size: 2rem;
            color: rgb(26, 29, 39);
        }
    
        &-cityname {
            font-size: 2.5rem;
            color: rgb(26, 29, 39);
            margin-bottom: 1rem;
        }
    }


    &__top-section {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__bottom-section {
        @media only screen and (max-width: $bp-smallest) {
            display: none;
        }   
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30rem;


        &-topic {
            font-weight: 700;
            background-image: linear-gradient(to right, var(--color-third), var(--color-primary-dark));
            -webkit-background-clip: text;
            background-clip: tex;
            color: transparent;

        }
    }

    &__card {
        padding: 1rem;
        display: flex;
        align-items: center;
        margin-right: auto;
        font-size: 2rem;
    }

    &__btn-favorites {
        @media only screen and (max-width: $bp-smallest) {
            margin-top: 3rem;
            margin-right: auto;
            margin-bottom: -3rem;
        }

        padding: 1rem 2rem;
        background-image: linear-gradient(to right, rgb(46, 184, 248), rgb(24, 142, 238));
        border-radius: 3px;
        transition: all .2s;
        color: #fff;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 1rem rgba(#000, .3);
        }

        &:active {
            transform: translateY(0);
            box-shadow: none;
        }
    }
}

.mobile-view__topic {
    @media only screen and (min-width: $bp-smallest) {
        display: none;
    }
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #fff;
}

.mobile-view__forecast {
    width: 100%;
    @media only screen and (min-width: $bp-smallest) {
        display: none;
    }
}