.city-name {
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid black;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }

}