.nav-bar {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: #e7e7e7;

    &__topic {
        margin-right: auto;
        margin-left: 1rem;
        color: #335674;
    }

    &__btn {
        align-self: stretch;

        &:hover {
            background-color: rgb(155, 153, 153);
        }

        &:active {
            background-color: rgb(94, 94, 94);
        }
    }

    &__group {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 3rem;
        width: 30%;
        z-index: 10000;
    }


    &__input {
        position: relative;
        padding-right: 10rem;
        width: 100%;
        background-color: #fff;
        margin-right: -4.5rem; 
    }
}

