@import "../../Global/utilities.scss";


.nav-bar {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    background-color: #e7e7e7;

    &__bp-medium {
        margin-right: 3rem;
        width: 30%;
        @media only screen and (max-width: $bp-medium) {
            display:none;
        }
    }
        
    

    &__topic {

        @media only screen and (max-width: $bp-smallest) { 
            margin-left: 1rem;
            margin-right: 1rem;
        }
        margin-right: auto;
        margin-left: 1rem;
        color: #335674;
    }

    &__btn {
        @media only screen and (max-width: $bp-smallest) {
            display:none;
        }

        align-self: stretch;

        &:hover {
            background-color: rgb(155, 153, 153);
        }

        &:active {
            background-color: rgb(94, 94, 94);
        }
    }
}

