@import "./Global/utilities.scss";

*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-primary: #1145bf;
    --color-primary-light: #567acc;
    --color-primary-dark: #082871;

    --color-third: #3f6fd6;

}

// responsive breakpoints 

 // $bp-large <= 1200px
 // $bp-medium <= 850 px
 // $bp-smallest <= 500 px
 
html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-smallest) {
        font-size: 62.5%;
    }
}
