* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-primary: #1145bf;
    --color-primary-light: #567acc;
    --color-primary-dark: #082871;

    --color-third: #3f6fd6;

}

// responsive breakpoints 

$bp-largest: 75em;
$bp-medium: 53.125em;

html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
    @media only screen and (max-width: $bp-medium) {
        font-size: 37.5%;
    }
}
